/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 3em;
  padding-bottom: 3em;
}

.less-padded {
  padding-top: 1em;
  padding-bottom: 1em;
}

.vertical-margin {
  margin-top: 4em;
  margin-bottom: 4em;
}

.top-margin {
  margin-top: 2em;
}

.bottom-margin {
  margin-bottom: 2em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

.wrapper {
  height: 100vh;
  color: white;
  padding-top: 7%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.hidden {
  display: none;
}

.wrapper-gray {
  background-color: $gray-lighter;
}

#sidenav-overlay {
  
}
