%div.footer
  .container
    .row
      .col-xs-6
        %ul.list-inline.navbar.navbar-margin.navbar-wagon-brand
          = link_to "https://twitter.com/NathanKuik" do
            %i.fa.fa-twitter
          = link_to "https://www.linkedin.com/in/nathankuik" do
            %i.fa.fa-linkedin
          = link_to "https://github.com/nkuik" do
            %i.fa.fa-github
      .col-xs-6.text-right
        %p Nathan Kuik © 2016

