%div.footer
  .container
    .row
      .col-xs-6
        %ul.list-inline
          = link_to "http://youtube.com" do
            %i.fa.fa-youtube
          = link_to "http://twitter.com" do
            %i.fa.fa-twitter
          = link_to "http://facebook.com" do
            %i.fa.fa-facebook
      .col-xs-6.text-right
        %p This is a Airbnb Home challenge @ LeWagon

