.wrapper-gray
  %footer.page-footer.teal.darken-1
    .container
      .row

        %div{class:"col l6 s12 "}
          %ul.list-inline.white-text
            / = link_to "See my CV", "https://dl.dropboxusercontent.com/content_link/7Dsrp3zhO6gRzbh1UlsuuYFJHHKMm9HtvoQIusZokj9QrLDwZhnHH092RVP9VCz9/file", class:"white-text"
            = link_to "https://angel.co/nathan-kuik", target: "_blank" do
              %i{class:"fa fa-angellist grey-text text-lighten-3"}
            = link_to "https://www.linkedin.com/in/nathankuik", target: "_blank" do
              %i{class:"fa fa-linkedin grey-text text-lighten-3"}
            = link_to "https://github.com/nkuik", target: "_blank" do
              %i{class:"fa fa-github grey-text text-lighten-3"}
            = link_to "https://twitter.com/NathanKuik", target: "_blank" do
              %i{class:"fa fa-twitter grey-text text-lighten-3"}

    .footer-copyright
      .container
        © 2016 Copyright Nathan Kuik
