%nav
  %div{class:"nav-wrapper"}
    <!-- Logo -->

    <!-- Right Navigation -->
    %ul{id:"nav-mobile", class:"right hide-on-med-and-down"}
      %li
        = link_to "About", "/index.html"
      %li
        = link_to "My Work", "/index.html"
      %li
        = link_to "My CV", "https://google.com"

