%div{class:"navbar-wagon navbar-wagon-fixed"}
  <!-- Logo -->
  = link_to "/index.html", class: "navbar-wagon-brand" do
    = image_tag "logo"
  %end

  <!-- Right Navigation -->
  %div{class:"navbar-wagon-right hidden-xs hidden-sm"}


    <!-- Text link -->
    = link_to "Additional Page", "/additionalpage.html", class: "navbar-wagon-item navbar-wagon-link"


    <!-- Button (call-to-action) -->
    = link_to "Post Stuff", "https://google.com", class: "navbar-wagon-item navbar-wagon-button btn"

  <!-- Dropdown appearing on mobile only -->
  %div{class:"navbar-wagon-item hidden-md hidden-lg"}
    %div{class:"dropdown"}
      %i.fa.fa-bars.dropdown-toggle{"data-toggle" => "dropdown"}
      %ul{class:"dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu"}

.navbar-blind
